@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root{
    --color-primary: #1B4242;
    --color-secondary: #5C8374;
    --color-tertiary: #579f86;
    --color-background: #202021;
}

html {
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: var(--color-background);
    font-size: 25px;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    width: 100%;
}

.container{
    display: block;
    margin: 0 auto;
    width: 1200px;
}

/*Globales*/
.title{
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin-top: 80px;
    font-weight: 500;
    text-transform: uppercase;
}

/*Header*/
.hero{
    position: relative;
    width: 100%;
}

.hero img{
    width: 100%;
    display: block;
    height: 70vh; 
    object-fit: cover;
}

.hero-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.hero-title:nth-child(2){
    font-size: 30px;
    font-weight: 100;
}

.hero-title-boss{
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 500;
}

/*My Work*/

.work-results{
    margin-top: 80px;
}

.work-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.work-item div{
    text-align: center;
    font-size: 20px;
    background-color: var(--color-tertiary);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-end-end-radius: 10px;
    transition: background-color 0.5s ease;
}

.work-item div:hover{
    background-color: var(--color-primary);
}

.work-item img{
    height: 600px;
    object-fit: cover;
    object-position: top;
    display: block;
}

/*Footer*/
.footer{
    position: relative;
    margin-top: 80px;
}

.footer img{
    display: block;
}

.footer-title{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

.input-comment input{
    font-size: 20px;
    width: 300px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    padding: 10px;
    background-color: var(--color-secondary);
    border: 0;
    color: #fff;
    border-end-end-radius: 10px;
    transition: background-color 0.5s ease;
}

.input-comment input:hover{
    background-color: var(--color-primary);
}


.comment-list ul{
    list-style: none;
    padding: 0;
}
.comment-list li{
    margin-top: 30px;
    color: #fff;
}

.comment-list li i{
    text-align: end;
    cursor: pointer;
    transition: color 0.5s ease;
}

.comment-list li i:hover{
    color: var(--color-tertiary);
}

.comment-hour{
    font-size: 20px;
}

.comment-container{
    display: flex;
}

.comment-textarea{
    height: 100px;
    font-size: 20px;
    padding: 10px;
    border: 0;
    border-end-end-radius: 10px;
    resize: none;
    font-size: 25px;
}